{% extends "base.html" %}

{% block title %}Login - Nexlot{% endblock %}

{% block content %}
<div class="container-fluid login-container">
  <div class="row h-100" style="min-height: 100vh ;">

    <div class="col-md-5 d-flex align-items-center p-5 bg-white">
      <div class="w-100">
        <div class="text-center mb-4">
          <h1 class="fw-bold" style="font-size: 3rem; margin-bottom: 0.5rem;">nexlot</h1>
          <h3 class="fw-bold" style="font-size: 1.75rem;">Welcome Back</h3>
          <p class="text-muted" style="font-size: 0.80rem;">glad to see you here, select method to log in</p>
        </div>


        <form method="POST" action="{{ url_for('auth.login') }}">
          <div class="mb-3">
            <input type="email" name="email" class="form-control" placeholder="What's your email?" required>
          </div>
          <div class="mb-3">
            <input type="password" name="password" class="form-control" placeholder="Enter password" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3">LOG IN</button>


          <p class="text-center">Don't have an account? <a href="{{ url_for('auth.register') }}">Sign Up</a></p>
        </form>
      </div>
    </div>

    <div class="col-md-7 brand-purple d-none d-md-flex flex-column align-items-center justify-content-center text-white ">
      <img src="{{ url_for('static', filename='login-art.svg') }}" class="img-fluid mb-4" style="max-height: 400px;">
      <h2 class="fw-bold">Smarter Parking Starts Here</h2>
      <h6 class="text-center px-5">Find, reserve, and manage parking spaces effortlessly with Nexlot.</j6>
    </div>

  </div>
</div>
{% endblock %}
